<div class="ui compact menu class-dropdown">
  <div class="ui simple dropdown item">
    {{selectedClass}}
    <i class="dropdown icon"></i>
    <div class="menu">
      {{#each classes as |class|}}
      <div class="item" {{action "selectClass" class}}>{{class.name}}</div>
      {{/each}}
    </div>
  </div>
</div>
