{{#nrg-list groupHeaderHandler=groupHeaderHandler items=assignments select="select" loading=loading as |list|}}
  {{#list.items as |item|}}
    <a class="content">
      <div class="header">{{item.name}}</div>
    </a>
  {{/list.items}}
{{/nrg-list}}
